* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  margin-top: 100px;
  text-align: center;
}

section {
  margin-bottom: 150px;
}

.title {
  font-size: 35px;
  font-weight: bold;
  color: #000;

  margin-bottom: 20px;
}

a {
  display: block;
  text-decoration: none;

  margin-bottom: 20px;

  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.important {
  position: relative;
  display: inline-flex;

  &::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: red;

    position: absolute;
    bottom: 0;
    left: 0;
  }
}